<!-- src/components/projects-page/projects-page.component.html -->
<section class="section">
  <div class="section-header">
    <h2>Все проекты</h2>
    <p>Все проекты в одном месте.</p>
  </div>

  <!-- Индикатор загрузки -->
  <div *ngIf="isLoading()" class="loading">Загрузка...</div>

  <!-- Сетка с проектами, если данные загружены -->
  <div class="projects-grid" *ngIf="!isLoading()">
    <app-project-card *ngFor="let project of projects()" [project]="project" (open)="selectedProject.set($event)"></app-project-card>
  </div>
  <app-project-modal *ngIf="selectedProject()" [project]="selectedProject()" (close)="selectedProject.set(undefined)"></app-project-modal>
</section>
