/* You can add global styles to this file, and also import other style files */

/* Smooth scroll behavior for anchor links */
html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}
